//**************************************************************************************************************************************************
// import settings =========================================================================================================================
@import "./functions/settings";
// adding mixins ===========================================================================================================================================================================================================================================================================
//@import "./functions/mixins";
// adding null ============================================================================================================================
@import "null";
//*********************************************************************************************************************************************
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500&display=swap');

// wrapper ============================================================================================================================================================================================================================================================================================================================================================================================================================================
:root {

  --bg-1: white;
  --bg-2: #ECECEC;
  --bg-3: #5C6AC0;
  --bg-4: #2196F3;
  --bg-5: #808080;

  --bg-active-1: #1b77c0;

  --txt-1: #FFFFFF;
  --txt-2: #7D7D7D;
  --txt-3: #5C6AC0;
  --txt-4: #606ca6;
  --txt-5: black;
  --txt-6: #818181;
  --txt-7: #BA4C4B;

  --shadow-1: rgba(92, 106, 192, 0.5);

  --error-1: #DD724E;

  --separator-1: #EFEFEF;
  --separator-2: #818181;
}

body {
  overflow-x: hidden;
  height: 100vh;
  overflow-y: auto;
  position: relative;
  background-color: black;
}

