//**************************************************************************************************************************************************
// import settings =========================================================================================================================
@import "./functions/settings";
// adding mixins ===========================================================================================================================================================================================================================================================================
//@import "./functions/mixins";
// adding null ============================================================================================================================
@import "null";
//*********************************************************************************************************************************************
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500&display=swap');

// wrapper ============================================================================================================================================================================================================================================================================================================================================================================================================================================
:root {

  --account-color: #5C6AC0;

  --main-bg: #ECECEC;
  --sub-bg: rgba(255, 255, 255, 0);
  --sub-bg-2: #F7F7F7;
  --sub-bg-light: #FFFFFF;

  --main-txt: #7E7E7E;
  --sub-txt: black;
  --pale-txt: #A8A8A8;


}

body {
  overflow-x: hidden;
  height: 100vh;
  overflow-y: auto;
  position: relative;
  background-color: black;
}
