body {
    margin: 0;
    background-color: black;
}

#preloader {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 500;
    max-width: 450px;
}


.preloader-icon {
    width: 100px;
    height: 100px;
}